<button onclick="login()" class="btn btn-warning">重置 (Reset)</button>
<h5 style="display: inline-block; vertical-align: middle; margin-left: 25px; margin-right: 25px; margin-top: 28px; font-size: 32px; border: 3px solid #FFFFFF; padding-bottom: 6px; padding-top: 3px; padding-left: 8px; padding-right: 8px; border-radius: 20px">经理后台 (Manager)</h5 >
<button onclick="location.href='./'" class="btn btn-warning">注销 (Logout)</button>
<div id="options">
	<button onclick="viewBookedTickets()">查看/删除排片</button>
	<button onclick="insertMovie()">录入新电影</button>
	<button onclick="createShow()">新增排片</button>
	<button onclick="alterPricing()">修改票价</button>
	<button onclick="manageSnacks()">小吃管理</button>
</div>
<div id="manager-dynamic-1"></div>
<div id="manager-dynamic-2"></div>
<div id="manager-dynamic-3"></div>
<div id="manager-dynamic-4"></div>
<div id="manager-dynamic-5"></div>
